</div> <!-- Close main-content -->
<footer>
  <div class="content-wrapper">
    <div class="footer">
      &copy; 2024 Simple Twitter Clone
    </div>
  </div>
</footer>
</div> <!-- Close container -->
</body>
</html>